.navbar-nav a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
  font-size: 18px;
  font-weight: 400;
}
.logout-btn {
  position: relative;
  bottom: 7px;
  display: inline-flex;
  margin-left: -4px;
  font-size: 18px;
  color: black;
}
